################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EntityWrapperGenerator/bin/Release
/EntityWrapperGenerator/obj/Debug
/EntityWrapperGenerator/obj/Release
/EntityWrapperGenerator/bin/Debug
/.vs/EntityWrapperGenerator
